body,
html {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  overflow: hidden;
}

.canvas {
  margin: 0 auto;
  height: 620px;
  width: 1200px;
  margin-top: 64px;
  background-image: url("/images/grid.jpg");
}
